.carddetailPage
  .container
    .cardContents
      .cardContents_title
        %div タイトル
        %h2= @card.title
      .cardContents_memo
        %div メモ
        %div= @card.memo
      .cardContents_listStatus
        %div リスト名
        %div= @card.list.title
      .cardContents_btnArea
        = link_to '編集する', edit_list_card_path(@card.list, @card), class: "edit_btn"
