.listnewPage
  .container
    = form_with model: @list, url: { action: :create }, class: "new_list", local: true do |f|
      - if @list.errors.any?
        %p.text-danger タイトルは1~255文字以内で入力してください
      = f.label :title
      = f.text_field :title, autofocus: true, class: "form-control listName", placeholder: "リスト名"
      .text-center= f.submit "作成", class: "submitBtn"
